<nav class="navbar navbar-expand-lg  navbar-light bg-dark">
    <a class="navbar-brand text-danger" href="#">Photo Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink = '/gallery'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink = '/animals'>Animals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink = '/food'>Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink = '/nature'>Nature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink = '/toys'>Toys</a>
          </li>
      </ul>
    </div>
  </nav>
  
  